In [2]:
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг
#Результат классификации запишите в столбец class

import pandas as pd

In [80]:
#задание 1
df = pd.read_csv("ratings.csv")

def show_rating(rate):
    if rate['rating'] < 2:
        return 'низкий'
    elif 2 <= rate['rating'] <=4:
        return 'средний'
    elif 4 < rate['rating']:
        return 'высокий'
    
df['rt'] = df.apply(show_rating, axis=1)
df

        userId  movieId  rating   timestamp       rt
0            1       31     2.5  1260759144  средний
1            1     1029     3.0  1260759179  средний
2            1     1061     3.0  1260759182  средний
3            1     1129     2.0  1260759185  средний
4            1     1172     4.0  1260759205  средний
...        ...      ...     ...         ...      ...
99999      671     6268     2.5  1065579370  средний
100000     671     6269     4.0  1065149201  средний
100001     671     6365     4.0  1070940363  средний
100002     671     6385     2.5  1070979663  средний
100003     671     6565     3.5  1074784724  средний

[100004 rows x 5 columns]

In [139]:
#задание 2
df = pd.read_csv("keywords.csv")
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

reg_dict = {}

for reg in geo_data:
    cities_list = geo_data[reg]
    reg_dict.update({key:value for key,value in zip(cities_list,
                                [reg for i in cities_list])})
print(('sdf sdf sdf').split(' '))
    

def checking(go):
    spl = go['keyword'].split(' ')
    for i in spl:
        if i in reg_dict.keys():
            return reg_dict.get(i)
    
df['region'] = df.apply(checking, axis=1).fillna('undefined')
df.region.value_counts()

['sdf', 'sdf', 'sdf']

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64