In [1]:
import pandas as pd

In [18]:
#Определите какому фильму было выставлено больше всего оценок 5.0.
data = pd.read_csv('ratings.csv')
data['movieId'][data['rating']==5.0].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

In [56]:
#По данным файла power.csv посчитайте суммарное потребление 
#стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity

data_count = pd.read_csv('power.csv')
cat = data_count[((data_count['category']==4)|(data_count['category']==12)|(data_count['category']==21))&((data_count.year>=2005)&(data_count.year <= 2010))&(data_count['country'].str.contains('lithuania', case=False)|data_count['country'].str.contains('Latvia', case=False)|data_count['country'].str.contains('estonia', case=False))&(data_count['quantity']>0)]
cat['quantity'].sum()

240580.0

In [79]:
page_url = 'https://broker.ru/quotes'
pd.read_html('http://tikr.ru/stock/')[1]

      0                  1           2         3
0   1.0            Газпром    258.0100  ↓ -0.44%
1   2.0    Сбербанк России    301.3500  ↑ +1.59%
2   3.0  Норильский никель  27072.0000      ↓ 0%
3   4.0             Магнит   5298.5000   ↑ +2.7%
4   5.0             ЛУКОЙЛ   5797.5000   ↑ +1.5%
5   6.0         Северсталь   1782.2000   ↓ -1.7%
6   7.0           Роснефть    525.8000  ↑ +1.68%
7   8.0                ММК     65.5600  ↑ +0.25%
8   9.0           Банк ВТБ      0.0456  ↓ -1.45%
9  10.0             Yandex   4771.4000   ↑ +0.4%